
{% extends 'main.html' %}
{% load static %}
{% block title %} CoolBeans About Page {% endblock %}
{% block content%}
<div class="bg-image" style="background-image: url({% static 'mike-kenneally-TD4DBagg2wE-unsplash.jpg' %}); height: 100vh;">
    <div class="container" style="text-align: center;">
        <div class=" h-100 d-flex justify-content-center align-items-center">
            <div class="panel panel-default bg-white">
                <div class="panel-heading"><h1>About Us:</h1></div>
                    <div class="panel-body">
                    Here at CoolBeans we have scoured the globe to find the best quality coffee beans and we deliver them to you at the best possible price. 
                    All of our coffee beans are sourced from Fair-Trade countries that treat all their workers like humans. We wait to roast until your place your order so it is as fresh as humanly possible. 
                    Our inventory features the finest coffee from all over the world.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    
{% endblock %}
    