
{% extends 'main.html' %}
{% load static %}

{% block content%}
<div class="bg-image" style="background-image: url({% static 'mike-kenneally-TD4DBagg2wE-unsplash.jpg' %}); height: 100vh;">

    <div class- "container mt-5 pt-5">
        <div class"flex-row">
            <div class="jumbotron l-3">
            <div class="jumbotron bg-white l-3">
                <div class="text-center">
                <h1 class="display-4 mt-5 mb-5">About Us</h1>
                <hr class="my-4">
                <p class="lead px-5 mx-5 align-middle">Here at Coolbeans we have scoured the globe to find the best quality coffee beans and we deliver them to you at the best possible price. All of our coffee beans are sourced from Fair-Trade countries that treat all their workers like humans. We wait to roast until your place your order so it is as fresh as humanly possible. Our inventory features the finest coffee from all over the world. </p>
            <div class="jumbotron l-3">    
            </div>
            </div>
        </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}
    