{% extends 'main.html' %}
{% load static %}
{% block content %}

   
   
<center>   
<h1>CoolBeans Products </h1>
<div class="container">
   <div class="row">
      <div class="col text-center">
          {% comment %} Creating table fields {% endcomment %}
          <table class="table table-sm">
            <tr>
               <th>Product Image:</th>
               <th>Product Name:</th>
               <th>Description:</th>
               <th>Available to be roasted in:</th>
               <th>Price:</th> 
            </tr>
            <hr> 
            {% comment %} Iterate over object product_list and displaying what {% endcomment %}
            {% for products in product_list %}   
            <tr>   {% comment %} Using this as a place-holder as Imagefield requires enabling users/admin {% endcomment %}         
               <td><img src="{% static 'mike-kenneally-TD4DBagg2wE-unsplash.jpg'%}" height="300px", width="400px"></td>
               <td> {{ products.name }}</td>
               <td> {{ products.description }}></td>
               <td> 
               {% comment %} Looping through the types from the many-to-many table "Tag" and only displaying items that match the product id.  Some products have 1, some will have 5. {% endcomment %}
               {% for tag in products.types.all %}
                 {{tag}} 
               {% endfor %} </td>  
               <td>${{ products.price }}0 per lb.</td>
            </tr>   
            {% endfor %}
         </table>
      </div>
   </div>
</div>
</center>     
{% endblock %}
                 
            
