{% extends 'main.html' %}
   {% block content %}
   <h1> Products </h1>
      <ul>
      <!-- Iterate over objec productt_list and displaying what -->
      {% for products in product_list %}
      <div class="container m-5">
         <div class="row">
     
            <div class="card p-5">
               {% comment %}
               <li><img src="{{products.image.url }}" height="300px", width="400px"> </li> 
               
               {% endcomment %}
               <div class="card-body">
                  <li><h2 class="card-title">{{ products.name }}<h2></li>
                  <li class="card-text"> {{ products.description }}></li>
                  <div class="card-footer">
                      <li><h5 class="float-end"> ${{ products.price }}0 per lb.</h5></li>
                  </div>
               </div>
            </div>
         </div>
      </div>
      
      {% endfor %}

      </ul>
   <h5> We're alway adding new products so check back soon!<h5>
   {% endblock %}
