@import url(http://fonts.googleapis.com/css?family=Varela|Limelight|Merriweather&v2);

body { 
    font-family: 'Limelight', 'Varela', 'Merriweather', cursive;

}
h1 {
    font-family: 'Limelight', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0em;
    word-spacing: 0em;
    line-height: 1.4;
    }
    
    
p {
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0em;
    word-spacing: 0em;
    line-height: 1.4;
    }

nav {
    width: 100%;
    background-color: #AD8B73;
    padding-left: 30px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
.nav-links {
    list-style: none;
    display: flex;
    }

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
.nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
      }